body {
  font-family: "Rubik";
}
.container {
  width: 79%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  .navPart {
    display: flex;
    width: 33%;
    align-items: center;
  }
  .logo {
    padding: 50px 0 50px 0;
    font-weight: 500;
    font-size: 20px;
    span span {
      font-weight: 700;
      padding: 0;
    }
  }
  .logo > span {
    margin-left: 10px;
  }
  .nav {
    justify-content: center;
    width: 66%;
    a {
      display: inline-block;
      color: rgba(79, 86, 101, 1);
      text-decoration: none;
    }
    a + a {
      margin-left: 40px;
    }
  }
  .sign {
    justify-content: space-evenly;
    a {
      display: inline-block;
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
}

.navSignButton {
  color: rgba(245, 56, 85, 1);
  background-color: white;
  width: 150px;
  height: 45px;
  border: 1px rgba(245, 56, 85, 1) solid;
  border-radius: 50px;
}

p {
  font-size: 50px;
  font-weight: 500;
}
p span {
  font-weight: 700;
}
.smallText {
  color: #4f5665;
  line-height: 30px;
}
.bigRedButton {
  color: white;
  background-color: rgba(245, 56, 85, 1);
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}

header {
  display: flex;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container {
    flex-direction: row;
    div {
      width: 50%;
      img {
        width: 110%;
        height: 100%;
      }
    }
  }
}

.advantages {
  display: flex;
  height: 125px;
  align-items: center;
  .advantage {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    .advantage-inner {
      display: flex;
    }
    .advantage-text {
      font-size: 20px;
      margin-left: 10%;
      .advantage-bold {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: #ffecec;
    border-radius: 50%;
    img {
      width: 17px;
      height: 18px;
      display: flex;
    }
  }
}

.features {
  display: flex;
  div {
    width: 50%;
    img {
      max-width: 500px;
    }
    .medium-heading {
      font-size: 35px;
      font-weight: 500;
    }
    .textContainer {
      width: 70%;
      margin: auto;
    }
    .features-list {
      width: 100%;
      color: #4f5665;
      span::before {
        content: url("/images/Icon/done.svg");
        margin-right: 10px;
        vertical-align: -20%;
      }
    }
  }
}
.main-darker {
  background: rgb(251, 251, 251);
  text-align: center;
  .cards {
    display: flex;
    justify-content: space-between;

    .card {
      background-color: white;
      min-width: 330px;
      height: 630px;
      padding: 80px 0px 50px 0px;
      border-radius: 10px;
      border: #dddddd 2px solid;
      .card-title {
        font-size: 18px;
        font-weight: 500;
      }
      .card-list {
        display: block;
        width: 57%;
        margin: auto;
        text-align: left;
        color: #4f5665;
        span::before {
          content: url("/images/Icon/done_stroke.svg");
          margin-right: 10px;
        }
      }

      .card-price {
        font-size: 25px;
        color: #4f5665;
        b {
          color: black;
        }
      }
      .button {
        height: 45px;
        width: 175px;
        border-radius: 50px;
        border: 2px #f53838 solid;
        color: #f53838;
        background-color: white;
      }
      .card-premium.button {
        color: white;
        background: #f53838;
      }
    }
    .premium {
      border: 2px #f53838 solid;
    }
  }
  .reviews {
    display: flex;
    width: 110%;
    justify-content: space-between;
    .review {
      width: 316px;
      height: 166px;
      border: 2px solid #dddddd;
      border-radius: 10px;
      padding: 30px 40px 80px 40px;
      .review-top {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        div {
          display: inline-block;
        }
        .review-person {
          display: flex;
          width: 81%;
          text-align: left;
          align-items: flex-start;

          .review-textInfo {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            .review-name {
              font-size: 18px;
              font-weight: 500;
            }
            .review-location {
              font-size: 14px;
              color: #4f5665;
            }
            div {
              display: flex;
            }
          }
          .review-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-image: url("/images/faces/Ellipse\ 175.png");
          }
        }
        .review-rate {
          width: 20%;
          text-align: end;
        }
      }
      .review-text {
        line-height: 30px;
        text-align: start;
        width: 90%;
      }
    }
  }

  .reviewsNav {
    display: flex;
    justify-content: space-between;
    .markers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 105px;
      .marker {
        width: 15px;
        height: 15px;
        background-color: gray;
        border-radius: 50%;
      }
      .marker.active {
        width: 45px;
        background-color: #f53838;
        border-radius: 15px;
      }
    }
    button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px #f53838 solid;
      box-sizing: border-box;
      background: white;
    }
    #rightReview {
      background-color: #f53838;
    }
  }
  .bottom-space-darker {
    width: 100%;
    height: 180px;
  }
}
footer {
  height: 563px;
  background: #f8f8f8;
  display: flex;
  .container {
    display: flex;
    margin-top: 180px;
    div:nth-child(1) {
      .logo {
        font-weight: 500;
      }
    }
  }
}
