@import "_adaptive.scss";

body {
  font-family: "Rubik";
  padding: 0;
  margin: 0;
}
.container {
  width: 79%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000;
  .container {
    display: flex;
    justify-content: space-between;
    .navPart {
      display: flex;
      width: 33%;
      align-items: center;
      a {
        margin-right: 20px;
      }
    }
    .logo {
      padding: 50px 0 50px 0;
      font-weight: 500;
      font-size: 20px;
      span span {
        font-weight: 700;
        padding: 0;
      }
    }
    .logo > span {
      margin-left: 10px;
    }
    .nav {
      justify-content: center;
      width: 66%;
      @include laptopM {
        display: none;
      }
      a {
        display: inline-block;
        color: rgba(79, 86, 101, 1);
        text-decoration: none;
      }
      a + a {
        margin-left: 40px;
      }
    }
    .sign {
      justify-content: space-evenly;
      a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-weight: 500;
      }
    }
  }
}

.navSignButton {
  color: rgba(245, 56, 85, 1);
  background-color: white;
  width: 150px;
  height: 45px;
  border: 1px rgba(245, 56, 85, 1) solid;
  border-radius: 50px;
}

p {
  font-size: 50px;
  font-weight: 500;
}
p span {
  font-weight: 700;
}
.smallText {
  color: #4f5665;
  line-height: 30px;
}
.bigRedButton {
  color: white;
  background-color: rgba(245, 56, 85, 1);
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0px 40px 50px -15px rgba(245, 56, 56, 0.45);
}

header {
  display: flex;
  margin-top: 200px;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container {
    flex-direction: row;
    @include tabletL {
      flex-direction: column;
      text-align: center;
    }
    div {
      width: 50%;
      justify-content: center;
      @include tabletL {
        width: 100%;
        margin: auto;
        align-items: center;
      }

      img {
        width: 110%;
        height: 100%;
        @include laptopM {
          height: 70%;
          margin-top: 100px;
        }
      }
    }
  }
}

.advantages {
  display: flex;
  margin-top: 50px;
  height: 125px;
  align-items: center;
  box-shadow: 0px 50px 50px -13px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  .advantage {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    .advantage-inner {
      display: flex;
    }
    .advantage-text {
      font-size: 20px;
      margin-left: 10%;
      .advantage-bold {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  .advantage.middle {
    border-left: 2px #eeeff2 solid;
    border-right: 2px #eeeff2 solid;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: #ffecec;
    border-radius: 50%;
    img {
      width: 17px;
      height: 18px;
      display: flex;
    }
  }
}

.features {
  display: flex;
  margin-top: 100px;
  padding-bottom: 130px;
  @include laptopSM {
    flex-direction: column;
  }
  div {
    width: 50%;
    img {
      max-width: 500px;
      @include laptopSM {
        max-width: 70%;
        margin: auto;
        text-align: center;
      }
    }
    .medium-heading {
      font-size: 35px;
      font-weight: 500;
    }
    .textContainer {
      width: 70%;
      margin: auto;
    }
    .features-list {
      width: 100%;
      color: #4f5665;
      span::before {
        content: url("/images/Icon/done.svg");
        margin-right: 10px;
        vertical-align: -20%;
      }
    }
    @include laptopSM {
      margin: auto;
    }
  }
  div:has(img) {
    display: flex;
    justify-content: center;
  }
}
.main-darker {
  background: rgb(251, 251, 251);
  text-align: center;
  .cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
    @include laptopSM {
      flex-direction: column;
    }
    .card {
      background-color: white;
      min-width: 330px;
      height: 630px;
      padding: 80px 0px 90px 0px;
      border-radius: 10px;
      border: #dddddd 2px solid;
      @include laptopSM {
        max-width: 334px;
        margin: auto;
        flex-direction: column;
      }

      .card-title {
        font-size: 18px;
        font-weight: 500;
      }
      .card-list {
        display: block;
        width: 57%;
        margin: auto;
        text-align: left;
        color: #4f5665;
        span::before {
          content: url("/images/Icon/done_stroke.svg");
          margin-right: 10px;
        }
      }

      .card-price {
        font-size: 25px;
        color: #4f5665;
        b {
          color: black;
        }
      }
      .button {
        height: 45px;
        width: 175px;
        border-radius: 50px;
        border: 2px #f53838 solid;
        color: #f53838;
        background-color: white;
      }
      .button.active {
        color: white;
        background: #f53838;
        box-shadow: 0px 40px 50px -15px rgba(245, 56, 56, 0.45);
      }
    }
    .card.active {
      border: 2px #f53838 solid;
    }
    .card + .card {
      margin-left: 20px;
      @include laptopSM {
        margin: auto;
        margin-top: 100px;
      }
    }
  }
  .reviews {
    display: flex;
    width: 110%;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    @include tabletL {
      flex-direction: column;
    }
    .review {
      width: 316px;
      height: 166px;
      border: 2px solid #dddddd;
      border-radius: 10px;
      padding: 30px 40px 80px 40px;
      @include laptopM {
        height: 300px;
      }
      @include tabletL {
        margin: auto;
      }
      .review-top {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        div {
          display: inline-block;
        }
        .review-person {
          display: flex;
          width: 81%;
          text-align: left;
          align-items: flex-start;

          .review-textInfo {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            .review-name {
              font-size: 18px;
              font-weight: 500;
            }
            .review-location {
              font-size: 14px;
              color: #4f5665;
            }
            div {
              display: flex;
            }
          }
          .review-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-image: url("/images/faces/Ellipse\ 175.png");
          }
        }
        .review-rate {
          width: 20%;
          text-align: end;
        }
      }
      .review-text {
        line-height: 30px;
        text-align: start;
        width: 90%;
      }
    }
    .review.active {
      border: 2px solid #f53838;
    }
    .review + .review {
      @include tabletL {
        margin-top: 30px;
      }
    }
  }

  .reviewsNav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    .markers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 105px;
      .marker {
        width: 15px;
        height: 15px;
        background-color: gray;
        border-radius: 50%;
        @include tabletL {
          display: none;
        }
      }
      .marker.active {
        width: 45px;
        background-color: #f53838;
        border-radius: 15px;
      }
    }
    button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px #f53838 solid;
      box-sizing: border-box;
      background: white;
      @include tabletL {
        display: none;
      }
    }
    #rightReview {
      background-color: #f53838;
    }
  }
  .bottom-space-darker {
    width: 100%;
    height: 180px;
  }
}
.between-er {
  background-color: white;
  height: 116px;
  position: relative;
  padding-top: 58.5px;
  padding-bottom: 58.5px;
  top: calc(233px / 2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  .medium-heading {
    font-size: 35px;
    font-weight: 500;
  }
  button {
    @include tabletL {
      margin-top: 50px;
    }
  }
  @include tabletL {
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
  }
}
footer {
  height: 563px;
  background: #f8f8f8;
  display: flex;
  @include tablet {
    flex-direction: column;
  }
  .container {
    display: flex;
    margin-top: 180px;
    div:nth-child(1) {
      display: block;
      .logo {
        font-weight: 500;
      }
      .socialsBox {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        div {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-box-shadow: 0px 35px 50px 3px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 10px 40px 1px rgba(0, 0, 0, 0.14);
        }
        div + div {
          margin-left: 30px;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}
