@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

* {
  margin: 0;
}
.container {
  display: block;
  width: 77%;
  margin: auto;
  font-family: "Lato";
}
header {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  background: #f9f7e8;
  font-size: 16px;
}
header span {
  font-family: "Courgette";
  font-size: 32px;
}
header a {
  color: black;
  text-decoration: none;
}
.greenLogo {
  color: #62bfad;
}
header span + a {
  margin-left: 79px;
}
a + a {
  margin-left: 22px;
}
.header-image {
  display: flex;
  background: #d52047;
  height: 486px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-image div {
  color: white;
  font-family: "Limelight";
  font-size: 48px;
}
.about-green-background {
  background: #eff8f6;
}
.main-paragraph {
  font-size: 48px;
  color: #d52047;
}
p {
  font-size: 32px;
  font-weight: bold;
}
.about-container {
  background: #e5e5e5;
  display: flex;
  font-size: 24px;
}
.aboutObject {
  background: #e5e5e5;
  width: 50%;
}
.aboutObject.image {
  background: url("../images/about-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.card {
  width: 22%;
  border: 2px gainsboro solid;
  border-radius: 15px;
  font-size: 14px;
  padding: 20px 10px;
}
.inner-card {
  width: 90%;
  margin: auto;
}
.card-image {
  background-image: url("../images/card-image.png");
  height: 156px;
}
#sec {
  background-image: url("../images/card-image-mountains.png");
}

#th {
  background-image: url("../images/card-image-house.png");
}
.features-container a {
  color: #d52047;
  text-decoration: none;
  border-bottom: #d52047 solid 2px;
}

footer {
  height: 176px;
  background: #f9f7e8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  font-family: "Lato";
}
.socials {
  display: flex;
  width: 10%;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  display: block;
  width: 24px;
  height: 24px;
}
.twitter {
  background-image: url("../images/logos/twitter_svg.svg");
}
.linkendin {
  background-image: url("../images/logos/linked-in_svg.svg");
}
.instagram {
  background-image: url("../images/logos/instagram_svg.svg");
}

.twitter:hover {
  background-image: url("../images/logos/twitter_svg_hovered.svg");
}
.linkendin:hover {
  background-image: url("../images/logos/linked-in_svg_hovered.svg");
}
.instagram:hover {
  background-image: url("../images/logos/instagram_svg_hovered.svg");
}
