@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.col-1 {
  width: calc(1 * 10%);
}

.col-2 {
  width: calc(2 * 10%);
}

.col-3 {
  width: calc(3 * 10%);
}

.col-4 {
  width: calc(4 * 10%);
}

.col-5 {
  width: calc(5 * 10%);
}

.col-6 {
  width: calc(6 * 10%);
}

.col-7 {
  width: calc(7 * 10%);
}

.col-8 {
  width: calc(8 * 10%);
}

.col-9 {
  width: calc(9 * 10%);
}

.col-10 {
  width: calc(10 * 10%);
}

body {
  font-family: "Rubik";
  padding: 0;
  margin: 0;
}

.container {
  width: 79%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
nav .container .navPart {
  display: flex;
  width: 33%;
  align-items: center;
}
nav .container .navPart a {
  margin-right: 20px;
}
nav .container .logo {
  padding: 50px 0 50px 0;
  font-weight: 500;
  font-size: 20px;
}
nav .container .logo span span {
  font-weight: 700;
  padding: 0;
}
nav .container .logo > span {
  margin-left: 10px;
}
nav .container .nav {
  justify-content: center;
  width: 66%;
}
@media (max-width: 1232px) {
  nav .container .nav {
    display: none;
  }
}
nav .container .nav a {
  display: inline-block;
  color: rgb(79, 86, 101);
  text-decoration: none;
}
nav .container .nav a + a {
  margin-left: 40px;
}
nav .container .sign {
  justify-content: space-evenly;
}
@media (max-width: 1232px) {
  nav .container .sign {
    display: none;
  }
}
nav .container .sign a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
nav .container .burger {
  display: none;
}
@media (max-width: 1232px) {
  nav .container .burger {
    display: flex;
    justify-content: flex-end;
  }
}

.collapsingMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  align-items: center;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 137px;
  background-color: white;
  border-top: #e0e0e0 1px solid;
  transition: 2s linear;
}
.collapsingMenu div + div {
  margin-top: 10px;
}

.navSignButton {
  color: rgb(245, 56, 85);
  background-color: white;
  width: 150px;
  height: 45px;
  border: 1px rgb(245, 56, 85) solid;
  border-radius: 50px;
}

p {
  font-size: 50px;
  font-weight: 500;
}

p span {
  font-weight: 700;
}

.smallText {
  color: #4f5665;
  line-height: 30px;
}

.bigRedButton {
  color: white;
  background-color: rgb(245, 56, 85);
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0px 40px 50px -15px rgba(245, 56, 56, 0.45);
}

header {
  display: flex;
  margin-top: 200px;
}
header div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
header .container {
  flex-direction: row;
}
@media (max-width: 896px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }
}
header .container div {
  width: 50%;
  justify-content: center;
}
@media (max-width: 896px) {
  header .container div {
    width: 100%;
    margin: auto;
    align-items: center;
  }
}
header .container div img {
  width: 110%;
  height: 100%;
}
@media (max-width: 1232px) {
  header .container div img {
    height: 70%;
    margin-top: 100px;
  }
}

.advantages {
  display: flex;
  margin-top: 50px;
  height: 125px;
  align-items: center;
  box-shadow: 0px 50px 50px -13px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.advantages .advantage {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages .advantage .advantage-inner {
  display: flex;
}
.advantages .advantage .advantage-text {
  font-size: 20px;
  margin-left: 10%;
}
@media (max-width: 596px) {
  .advantages .advantage .advantage-text {
    font-size: 16px;
  }
}
.advantages .advantage .advantage-text .advantage-bold {
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 596px) {
  .advantages .advantage .advantage-text .advantage-bold {
    font-size: 20px;
  }
}
.advantages .advantage.middle {
  border-left: 2px #eeeff2 solid;
  border-right: 2px #eeeff2 solid;
}
.advantages .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #ffecec;
  border-radius: 50%;
}
.advantages .circle img {
  width: 17px;
  height: 18px;
  display: flex;
}

.features {
  display: flex;
  margin-top: 100px;
  padding-bottom: 130px;
}
@media (max-width: 1128px) {
  .features {
    flex-direction: column;
  }
}
.features div {
  width: 50%;
}
@media (max-width: 896px) {
  .features div {
    width: 70%;
  }
}
.features div img {
  max-width: 500px;
}
@media (max-width: 1128px) {
  .features div img {
    max-width: 70%;
    margin: auto;
    text-align: center;
  }
}
.features div .medium-heading {
  font-size: 35px;
  font-weight: 500;
}
.features div .textContainer {
  width: 70%;
  margin: auto;
}
.features div .features-list {
  width: 100%;
  color: #4f5665;
}
.features div .features-list span::before {
  content: url("/images/Icon/done.svg");
  margin-right: 10px;
  vertical-align: -20%;
}
@media (max-width: 1128px) {
  .features div {
    margin: auto;
  }
}
.features div:has(img) {
  display: flex;
  justify-content: center;
}

.main-darker {
  background: rgb(251, 251, 251);
  text-align: center;
}
.main-darker .cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 1128px) {
  .main-darker .cards {
    flex-direction: column;
  }
}
.main-darker .cards .card {
  background-color: white;
  min-width: 330px;
  height: 630px;
  padding: 80px 0px 90px 0px;
  border-radius: 10px;
  border: #dddddd 2px solid;
}
@media (max-width: 1128px) {
  .main-darker .cards .card {
    max-width: 334px;
    margin: auto;
    flex-direction: column;
  }
}
.main-darker .cards .card .card-title {
  font-size: 18px;
  font-weight: 500;
}
.main-darker .cards .card .card-list {
  display: block;
  width: 57%;
  margin: auto;
  text-align: left;
  color: #4f5665;
}
.main-darker .cards .card .card-list span::before {
  content: url("/images/Icon/done_stroke.svg");
  margin-right: 10px;
}
.main-darker .cards .card .card-price {
  font-size: 25px;
  color: #4f5665;
}
.main-darker .cards .card .card-price b {
  color: black;
}
.main-darker .cards .card .button {
  height: 45px;
  width: 175px;
  border-radius: 50px;
  border: 2px #f53838 solid;
  color: #f53838;
  background-color: white;
}
.main-darker .cards .card .button.active {
  color: white;
  background: #f53838;
  box-shadow: 0px 40px 50px -15px rgba(245, 56, 56, 0.45);
}
.main-darker .cards .card.active {
  border: 2px #f53838 solid;
}
.main-darker .cards .card + .card {
  margin-left: 20px;
}
@media (max-width: 1128px) {
  .main-darker .cards .card + .card {
    margin: auto;
    margin-top: 100px;
  }
}
.main-darker .reviews {
  display: flex;
  width: 110%;
  max-width: 1440px;
  margin: auto;
  justify-content: space-between;
}
.main-darker .reviews .review {
  width: 316px;
  height: 166px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px 40px 80px 40px;
}
@media (max-width: 1232px) {
  .main-darker .reviews .review {
    height: 300px;
  }
}
@media (max-width: 896px) {
  .main-darker .reviews .review {
    height: 415px;
  }
}
.main-darker .reviews .review .review-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.main-darker .reviews .review .review-top div {
  display: inline-block;
}
.main-darker .reviews .review .review-top .review-person {
  display: flex;
  width: 81%;
  text-align: left;
  align-items: flex-start;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo .review-name {
  font-size: 18px;
  font-weight: 500;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo .review-location {
  font-size: 14px;
  color: #4f5665;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo div {
  display: flex;
}
.main-darker .reviews .review .review-top .review-person .review-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("/images/faces/Ellipse 175.png");
}
.main-darker .reviews .review .review-top .review-rate {
  width: 20%;
  text-align: end;
}
.main-darker .reviews .review .review-text {
  line-height: 30px;
  text-align: start;
  width: 90%;
}
.main-darker .reviews .review.active {
  border: 2px solid #f53838;
}
.main-darker .reviewsNav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}
.main-darker .reviewsNav .markers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 105px;
}
.main-darker .reviewsNav .markers .marker {
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 50%;
}
@media (max-width: 896px) {
  .main-darker .reviewsNav .markers .marker {
    display: none;
  }
}
.main-darker .reviewsNav .markers .marker.active {
  width: 45px;
  background-color: #f53838;
  border-radius: 15px;
}
.main-darker .reviewsNav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px #f53838 solid;
  box-sizing: border-box;
  background: white;
  transition: 0.2s linear;
}
@media (max-width: 896px) {
  .main-darker .reviewsNav button {
    display: none;
  }
}
.main-darker .reviewsNav #leftReview:hover {
  background-color: #f53838;
}
.main-darker .reviewsNav #leftReview:hover img {
  content: url("/images/Icon/Button/Vectorleft_white.svg");
}
.main-darker .reviewsNav #rightReview:hover {
  background-color: #f53838;
}
.main-darker .reviewsNav #rightReview:hover img {
  content: url("/images/Icon/Button/white.svg");
}
.main-darker .bottom-space-darker {
  width: 100%;
  height: 180px;
}

.between-er {
  background-color: white;
  height: 116px;
  position: relative;
  padding-top: 58.5px;
  padding-bottom: 58.5px;
  top: 116.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-radius: 10px;
}
.between-er .medium-heading {
  font-size: 35px;
  font-weight: 500;
}
@media (max-width: 896px) {
  .between-er button {
    margin-top: 50px;
  }
}
@media (max-width: 896px) {
  .between-er {
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
  }
}

footer {
  height: 563px;
  background: #f8f8f8;
  display: flex;
}
footer .container {
  display: flex;
  margin-top: 180px;
}
footer .container div:nth-child(1) {
  display: flex;
}
footer .container div:nth-child(1) .logo {
  font-weight: 500;
}
footer .container div:nth-child(1) .img-logo {
  width: 35px;
  height: 35px;
}
footer .container div:nth-child(1) .socialsBox {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
footer .container div:nth-child(1) .socialsBox div {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 40px 1px rgba(0, 0, 0, 0.14);
}
footer .container div:nth-child(1) .socialsBox div + div {
  margin-left: 30px;
}
footer .container div {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */