@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik";
}

.container {
  width: 79%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
}
nav .navPart {
  display: flex;
  width: 33%;
  align-items: center;
}
nav .logo {
  padding: 50px 0 50px 0;
  font-weight: 500;
  font-size: 20px;
}
nav .logo span span {
  font-weight: 700;
  padding: 0;
}
nav .logo > span {
  margin-left: 10px;
}
nav .nav {
  justify-content: center;
  width: 66%;
}
nav .nav a {
  display: inline-block;
  color: rgb(79, 86, 101);
  text-decoration: none;
}
nav .nav a + a {
  margin-left: 40px;
}
nav .sign {
  justify-content: space-evenly;
}
nav .sign a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navSignButton {
  color: rgb(245, 56, 85);
  background-color: white;
  width: 150px;
  height: 45px;
  border: 1px rgb(245, 56, 85) solid;
  border-radius: 50px;
}

p {
  font-size: 50px;
  font-weight: 500;
}

p span {
  font-weight: 700;
}

.smallText {
  color: #4f5665;
  line-height: 30px;
}

.bigRedButton {
  color: white;
  background-color: rgb(245, 56, 85);
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}

header {
  display: flex;
}
header div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
header .container {
  flex-direction: row;
}
header .container div {
  width: 50%;
}
header .container div img {
  width: 110%;
  height: 100%;
}

.advantages {
  display: flex;
  height: 125px;
  align-items: center;
}
.advantages .advantage {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages .advantage .advantage-inner {
  display: flex;
}
.advantages .advantage .advantage-text {
  font-size: 20px;
  margin-left: 10%;
}
.advantages .advantage .advantage-text .advantage-bold {
  font-size: 25px;
  font-weight: bold;
}
.advantages .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #ffecec;
  border-radius: 50%;
}
.advantages .circle img {
  width: 17px;
  height: 18px;
  display: flex;
}

.features {
  display: flex;
}
.features div {
  width: 50%;
}
.features div img {
  max-width: 500px;
}
.features div .medium-heading {
  font-size: 35px;
  font-weight: 500;
}
.features div .textContainer {
  width: 70%;
  margin: auto;
}
.features div .features-list {
  width: 100%;
  color: #4f5665;
}
.features div .features-list span::before {
  content: url("/images/Icon/done.svg");
  margin-right: 10px;
  vertical-align: -20%;
}

.main-darker {
  background: rgb(251, 251, 251);
  text-align: center;
}
.main-darker .cards {
  display: flex;
  justify-content: space-between;
}
.main-darker .cards .card {
  background-color: white;
  min-width: 330px;
  height: 630px;
  padding: 80px 0px 50px 0px;
  border-radius: 10px;
  border: #dddddd 2px solid;
}
.main-darker .cards .card .card-title {
  font-size: 18px;
  font-weight: 500;
}
.main-darker .cards .card .card-list {
  display: block;
  width: 57%;
  margin: auto;
  text-align: left;
  color: #4f5665;
}
.main-darker .cards .card .card-list span::before {
  content: url("/images/Icon/done_stroke.svg");
  margin-right: 10px;
}
.main-darker .cards .card .card-price {
  font-size: 25px;
  color: #4f5665;
}
.main-darker .cards .card .card-price b {
  color: black;
}
.main-darker .cards .card .button {
  height: 45px;
  width: 175px;
  border-radius: 50px;
  border: 2px #f53838 solid;
  color: #f53838;
  background-color: white;
}
.main-darker .cards .card .card-premium.button {
  color: white;
  background: #f53838;
}
.main-darker .cards .premium {
  border: 2px #f53838 solid;
}
.main-darker .reviews {
  display: flex;
  justify-content: space-between;
}
.main-darker .reviews .review {
  width: 400px;
  height: 230px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px 40px 30px 40px;
}
.main-darker .reviews .review .review-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.main-darker .reviews .review .review-top div {
  display: inline-block;
}
.main-darker .reviews .review .review-top .review-person {
  display: flex;
  width: 45%;
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo {
  display: flex;
  flex-direction: column;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo .review-name {
  font-size: 18px;
  font-weight: 500;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo .review-location {
  font-size: 14px;
  color: #4f5665;
}
.main-darker .reviews .review .review-top .review-person .review-textInfo div {
  display: flex;
}
.main-darker .reviews .review .review-top .review-person .review-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("/images/faces/Ellipse 175.png");
}
.main-darker .reviews .review .review-top .review-rate {
  width: 30%;
  text-align: end;
}
.main-darker .reviews .review .review-text {
  line-height: 30px;
  text-align: start;
  width: 90%;
}/*# sourceMappingURL=index.css.map */