.container {
  display: block;
  width: 50%;
  margin: auto;
  font-size: 30px;
}
.container img {
  max-width: 299px;
  max-height: 450px;
  margin: auto;
}
.imageContainer {
  text-align: center;
}
button {
  width: 32%;
  height: 100px;
  font-size: 20px;
  color: white;
  border: 5px solid black;
  background-color: gray;
}
button:hover {
  background-color: rgb(255, 94, 0);
}
